#tab_blog {
    max-width: 50rem;

    .post {
        padding: 0.4rem 0.8rem;
        border-radius: 5px;
        margin-bottom: 1.5rem;
        background-color: color-mix(in srgb, var(--opposite) 4%, var(--bg));

        &:hover {
            transform: scale(1.05);
            position: relative;
            box-shadow: 5px 5px 0 black;

            .head {
                img {
                    filter: invert(70%);
                }
            }
        }

        .head {
            display: flex;
    
            a {
                white-space: pre;
                font-size: larger;
                margin-bottom: 0;
            }
            
            img {
                margin-left: 0.5rem;
            }

            .kind {
                margin-left: auto;

                &:hover {
                    cursor: default;
                }
            }
        }


        .foot {
            display: flex;
            small {
                align-self: center;

                &:first-child {
                    margin-right: auto;
                }
            }
        }
    }
}
