.blog-page {
    display: flex;
    flex-direction: row;
    height: 100%;

    .side-menu {
        width: 18%;
        margin-right: 6rem;
        background-color: color-mix(in srgb, var(--main) 20%, var(--bg));

        .project {
            padding: 1rem 1rem 0.01rem 1rem;
            margin: 1rem -3rem 1rem 1rem;
            border-radius: 100px 1000px 1000px 100px;
            background-color: color-mix(in srgb, var(--main) 40%, var(--accent2));
            h3 {
                margin-top: 0;
            }
        }

        .links {
            padding: 1rem;
            margin: 1rem -2rem 1rem 1rem;
            border-radius: 100px 1000px 1000px 100px;
            background-color: color-mix(in srgb, var(--main) 40%, var(--accent2));

            a {
                color: var(--text);
            }
        }
    }
    
    .article {
        width: 60%;
        line-height: 1.7;
        font-size: larger;
        text-align: justify;
        text-justify: inter-word;

        .title {
            margin: 2rem 0;
            padding: 0;
            line-height: 1.2;
            display: flex;
            flex-direction: column;
        
            span {
                font-size: 50px;
                text-align: left !important;
                clear: left;
            }

            pre {
                font-family: inherit;
                margin: 0;
            }
        }

        h2 {
            font-weight: normal;
            text-decoration: underline solid color-mix(in srgb, var(--opposite) 15%, var(--bg)) 5px;
            margin-top: 2rem;
        }

        blockquote {
            padding: 0.5rem 1rem;
            background-color: color-mix(in srgb, var(--opposite) 3%, var(--bg));
            border-radius: 5px;
            border-left: 6px color-mix(in srgb, var(--opposite) 15%, var(--bg)) solid;
            color: color-mix(in srgb, var(--main) 5%, var(--text));

            p {
                margin: 0;
            }
        }

        ol li {
            list-style-type: decimal;
        }
    }
}
