@import "_dark";

#header {
	background: mix($main, $bg, 35%);
	padding-left: 10px;
	padding-top: 10px;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 999;
}

.tablinks, .tablinks:visited {
	color: $text;
	border: none;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	padding-bottom: 2px;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 1.5em;

	&.active {
		color: $accent;
		border-bottom: none;
	}	
}

#me {
	border-bottom: #0000 solid 6px;
	padding-bottom: 0;
	margin-bottom: 5px;
	font-size: 2em;

	&.active {
		border-bottom: #0000 solid 6px;
	}
}