#tab_projects {
	flex-direction: column;
	width: 80%;
    
    div {
        display: flex;
        flex-direction: column;
        margin: -4ex;
        margin-top: 0;
    }

    h4 {
        display: inline-block;
        margin: 2ex 0 0 0;
    }

    .projects {
        margin: 2ex 4ex 0 0;
        display: block;
        flex-direction: row;
        
        >div {
            background-color: color-mix(in srgb, var(--opposite) 7%, var(--bg));
            display: inline-block;
            vertical-align: top;
            margin: 0 1rem 1rem 0;
            width: 25%;
            padding: 0.8rem;
            padding-bottom: 3rem;
            border-radius: 5px;
            line-height: 1;
            
            &:hover {
                transform: scale(1.05);
                position: relative;
                box-shadow: 5px 5px 0 black;
            }

            >p {
                margin-bottom: 0.5rem;
            }

            a {
                display: block;
                width: fit-content;
            }

            small {
                overflow-wrap: break-word;
            }

            .stats {
                display: flex;
                flex-direction: row;
                margin-left: 0;
                margin-top: 0.7rem;

                svg {
                    fill: color-mix(in srgb, var(--main) 10%, var(--text));
                    margin-left: 0.5rem;
                    margin-right: 0.1rem;
                }
            }
        }
    }
}

.language_color {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid rgb(240 246 252 / 20%);
	border-radius: 50%;
	margin-right: 5px;
}

@media only screen and (max-width: 900px) {
	.project {
		width: 100%;
	}

    .projects {
        display: flex !important;
        flex-direction: column !important;
        font-size: 14px !important;

        >div {
            width: 100% !important;
            padding: 0.5rem 0.5rem 2.5rem 0.5rem !important;
        }
    }
}