#tab_projects {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2rem;

    .project {
        display: flex;
        gap: 1rem;

        img {
            width: 25rem;
            height: 15rem;
            object-fit: cover;
        }

        .project-body {

            a {
                font-size: larger;
                font-weight: bold;
            }
        }

        >p {
            margin-bottom: 0.5rem;
        }

        a {
            display: block;
            width: fit-content;
        }

        small {
            overflow-wrap: break-word;
        }

        .stats {
            display: flex;
            flex-direction: row;
            margin-top: auto;

            svg {
                fill: color-mix(in srgb, var(--main) 10%, var(--text));
                margin-left: 0.5rem;
                margin-right: 0.1rem;
            }
        }
    }
}

.language_color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(240 246 252 / 20%);
    border-radius: 50%;
    margin-right: 5px;
}

@media only screen and (max-width: 900px) {
    .projects {
        display: flex !important;
        flex-direction: column !important;
        font-size: 14px !important;

        .project {
            width: 100% !important;
            padding: 0.5rem 0.5rem 2.5rem 0.5rem !important;
        }
    }
}