body {
    --main: #cccccc;
    --opposite: #707070;
    --text: #222;
    --bg: #eee;
    --accent: #d6a70d;
    --accent2: #a37da3;
}

body.dark {
    --main: #000;
    --opposite: #fff;
    --text: #c4c4c4;
    --bg: #1c1c21;
    --accent: #e8d897;
    --accent2: #976997;    
}

body {
	background: var(--bg);
	font-family: "Roboto", sans-serif;
	color: var(--text);
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 1.5;
	font-size: 18px;
}

body::-webkit-scrollbar {
	background-color: color-mix(in srgb, var(--opposite) 10%, var(--bg));
}

body::-webkit-scrollbar-thumb {
	background-color: color-mix(in srgb, var(--opposite) 20%, var(--bg));
}

body::-webkit-scrollbar-thumb:hover {
	background-color: color-mix(in srgb, var(--opposite) 30%, var(--bg));
}

::selection {
	background: var(--accent2);
}

html {
	overflow-y: scroll;
}

h3 {
	font-weight: normal;
	font-size: xx-large;
	margin-bottom: 16px;
}

h4 {
	font-size: x-large;
	font-weight: normal;
	margin-bottom: 8px;
	margin-top: 8px;
}

p {
	margin-top: 0;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:visited {
	color: var(--accent2);
}

a:hover {
	color: color-mix(in srgb, var(--opposite) 10%, var(--accent));
	text-decoration: underline 3px;
}

small {
	color: color-mix(in srgb, var(--opposite) 5%, var(--text));
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	margin-bottom: 10px;
}

.tabcontent {
	padding: 1rem;
	margin: auto;
}