body {
	--whitish: #DADADA;
	--light-gray: #808089;
	--gray: #35353A;
	--dark-gray: #28282E;
	--blackish: #1c1c21;
	background: var(--dark-gray);
	font-family: "Roboto", serif;
	color: var(--whitish);
	margin: 0;
	padding: 0;
	width: 100%;
}


/* ------------------------------------
    HEADER
------------------------------------ */
.tab {
	background: var(--blackish);
	padding-left: 10px;
	padding-top: 10px;
}

.tablinks {
	background: var(--blackish);
	color: var(--light-gray);
	border: none;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	padding-bottom: 2px;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 1.5em;
}

.tablinks:hover {
	border-bottom: var(--gray) solid 6px;
}

.tablinks.active {
	border-bottom: var(--whitish) solid 6px;
	color: white;
}

#me {
	padding-bottom: 0;
	margin-bottom: 5px;
	font-size: 2em;
}


/* ------------------------------------
    TAB CONTENTS
------------------------------------ */
.tabcontent {
	display: none;
	animation: fadeEffect 1s;
	padding: 2%;
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}


/* ------------------------------------
    ME
------------------------------------ */
#tab_me div:first-child {
	/* the side div */
	float: left;
}

#tab_me div:nth-child(2) {
	/* the content div */
	width: 80%;
	margin-left: 15%;
}
