<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ get_url(path='dark_theme.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='header.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='main_page.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='projects.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='blog.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='blog_page.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='blog_topic_colors.css') }}">
  <title>Téo Orthlieb</title>
</head>

<body>
  <div id="header">
    <a 
      class="tablinks {% if current_path == '/' %}{{'active'}}{% endif %}" 
      id="me" href="{{ get_url(path='') }}"
    >Téo Orthlieb</a>
    <a 
      class="tablinks {% if current_path == '/projects/' %}{{'active'}}{% endif %}" 
      id="projects" href="{{ get_url(path='@/projects/_index.md') }}"
    >Open Source</a>
    <a 
      class="tablinks {% if current_path == '/blog/' %}{{'active'}}{% endif %}" 
      id="blog" href="{{ get_url(path='@/blog/_index.md') }}"
    >Blog</a>
  </div>

  {% block content %} {% endblock %}
</body>

</html>
