{% extends "base.html" %}

{% block content %}
<div id="tab_blog" class="tabcontent">
  <h3 class="title">
    {{ section.title }}
  </h3>
  <div class="posts">
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
    <div class="post {{ page.extra.kind | slugify }}">
      <div class="head">
        <a href="{{ page.extra.url | default(value=page.permalink) | safe }}">{{ page.title }}</a>
        {% if page.extra.url %}
          <img src="external.svg" alt="external link icon" width="24px"></img>
        {% endif %}
        <small class="kind optional">{{ page.extra.kind }}</small>
      </div>
      <p>{{ page.description }}</p>
      <div class="foot">
        <small>{{ page.extra.topic }}</small>
        <small>📆 {{ page.date }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
