{% extends "base.html" %}

{% block content %}
<div class="blog-page">
  <div class="side-menu">
    {% if page.extra.project %}
      <div class="project">
        <small>Project</small>
        <h3>{{ page.extra.project }}</h3>      
      </div>
    {% endif %}
    <div class="links">
      {% if page.extra.repository %}
        <a class="repository" href="{{ page.extra.repository }}">Link to the Repository</a>    
      {% endif %}
    </div>
    <a href="{{ page.permalink | safe }}" class="page-link">{{ page.title }}</a>
    {% if page.toc %}
    <ul class="toc">
      {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
                <li>
                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>
  
  <div class="article">
    <div class="title">
      <span>
        <pre>{{page.title}}</pre>
      </span>
      <small>{{ page.date }}</small>
    </div>
    {{ page.content | safe }}
  </div>
</div>
{% endblock content %}
