{% extends "base.html" %}

{% block content %}
<div class="blog-page">
  <div class="side-menu">
    {% if page.extra.project %}
      <div class="project">
        <small>Project</small>
        <h3>{{ page.extra.project }}</h3>      
      </div>
    {% endif %}
    <div class="links">
      {% if page.extra.repository %}
        <a class="repository" href="{{ page.extra.repository }}">Link to the Repository</a>    
      {% endif %}
    </div>
  </div>
  
  <div class="article">
    <div class="title">
      <span>
        <pre>{{page.title}}</pre>
      </span>
      <small>{{ page.date }}</small>
    </div>
    {{ page.content | safe }}
  </div>
</div>
{% endblock content %}
