{% extends "base.html" %}

{% block content %}
<div id="tab_projects" class="tabcontent">
  <div>
    <h3>{{ section.title }}</h3>
    <span>Click on the titles to visit the project pages.</span>
  </div>
  {% for page in section.pages %}
  <div class="project" data-repository="{{ page.extra.repository }}">
    {% if page.extra.thumbnail %}
    <img src="{{ page.permalink }}{{ page.extra.thumbnail }}" alt="">
    {% endif %}
    <div class="project-body">
      <h4>
        <a href="{{ page.extra.url | default(value='https://github.com/' ~ page.extra.repository) | safe }}">{{
          page.title }}</a>
      </h4>
      <small>{{ page.content | safe }}</small>
      <div class="stats"></div>
    </div>
  </div>
  {% endfor %}
  <script type="module" src="projects.mjs" defer></script>
</div>
{% endblock content %}